{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    {% if email %}
        <h4>Email: {{ email }}</h4>
        <h4>Password: {{ password }}</h4>
        <h4>User email: {{ check_user[0].email }}</h4>
        <h4>User password: {{ check_user[0].password_hash }}</h4>
        <h4>Password match?: {{ checked_password }}</h4>
    {% endif %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {{ form.submit(class='btn btn-dark mt-2') }}
    </form>
</div>
{% endblock %}