{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 p-5">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="mb-3">
        <a href="{{ url_for('add_post') }}" type="button" class="btn btn-dark">Add post</a>
    </div>
    <h3>Posts</h3>
    {% if all_posts == [] %}
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <h5>No blog to show</h5>
        </div>

    {% else %}
        {% for post in all_posts %}
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <h3>{{ post.title }}</h3>
            <p>By: {{ post.poster.name }}</p>
            <p>{{ post.content|safe }}<p>
            <p><i>{{ post.date_posted }}</i><p>
            <a href="{{ url_for('post', id=post.id) }}" type="button" class="btn btn-outline-dark">View post</a>
        </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}