{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="container">
        {% if current_user.id == user.id %}
            <h1>Update Profile</h1>

            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {{ form.color.label }}
                {{ form.color(class="form-control") }}
                {{ form.about_author.label }}
                {{ form.about_author(class="form-control") }}
                {{ form.profile_pic.label }}
                {{ form.profile_pic(class="form-control") }}
                {{ form.submit(class='btn btn-dark mt-4') }}
            </form>
        </div>
        {% else %}
        <h3>Access denied!</h3>
        <p>You can not access this data.</p>
        {% endif %}
</div>
{% endblock %}
